.page {
    height: 100vh;
    padding: 15px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container{
    height: calc(100vh - 105px);
    display: flex;
    gap: 15px;
}
