.colors {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.color {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}